version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "80:80"
    environment:
      - APP_ENV=production
    command: sh -c "uvicorn main:app --host 0.0.0.0 --port 80"
