[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 성능 관련 설정
max_connections = 500
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M

# 로깅 설정
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 2
